doctype html
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="/bower_components/primer-css/css/primer.css")
  link(rel="stylesheet", href="/bower_components/octicons/octicons/octicons.css")
body
  - theone = "https://raw.githubusercontent.com/KiiPlatform/raw-gh/master/README.md"
  div.container
    if user
      div(style="margin-top:1rem")
        p
          | You are #{user.github.profile.username}, hello!
        div
          h3 How to use
          p
            | You can paste this to embed.
          pre
            | &lt;iframe src="#{baseurl}/github.com/KiiPlatform/raw-gh/master/README.md">&lt;/iframe>
          p
            | This will retrieve from <a target="example" href=#{theone}>#{theone}</a>.
            | <br>General URL to embed is like
          pre
            | #{baseurl}/github.com/${path}
        div
          h3 Logout & revoke
          p
            | You can logout here <a href="/logout">/logout</a>,<br>
            | and revoke your authorization here, <a target="github.com" href="https://github.com/settings/applications">https://github.com/settings/applications</a>
          p
            | Logout removes <a href="https://github.com/blog/1509-personal-api-tokens">your personal API token</a> from the session in server
            | Revoke revokes this webapp, which the name is <strong>raw.githubusercontent.com</strong>.
            | You can authorize again anytime.
        div
          h3 Examples
          p
            | Click to show
            | <a href="/github.com/KiiPlatform/raw-gh/master/README.md">/github.com/KiiPlatform/raw-gh/master/README.md</a>
    else
      p.flash.flash-warn
        | You're not authorized to see.
        | Please authorize from here, <a target="/auth/github" href="/auth/github">/auth/github</a>
        | <br>and reload again.
      p.flash.flash-warn
        | <span class="octicon octicon-alert"></span> This app retrieves resources from github.com with your API token.
    div
      hr
      div
        | Served by <a href="#{baseurl}">#{baseurl}</a>
